---
- name: Create directory structure
  win_file:
    path: '{{ item }}'
    state: directory
  with_items:
    - '{{ telegraf_win_install_dir }}'
    - '{{ telegraf_win_include }}'

- name: Check if file is already downloaded
  win_stat:
    path: '{{ telegraf_win_install_dir }}\telegraf-{{ telegraf_agent_version }}_windows_amd64.zip'
  register: file_info

- name: Download telegraf Agent Zip file
  win_get_url:
    url: 'https://dl.influxdata.com/telegraf/releases/telegraf-{{ telegraf_agent_version }}_windows_amd64.zip'
    dest: '{{ telegraf_win_install_dir }}\telegraf-{{ telegraf_agent_version }}_windows_amd64.zip'
  when: not file_info.stat.exists

- name: Unzip file
  win_unzip:
    src: '{{ telegraf_win_install_dir }}\telegraf-{{ telegraf_agent_version }}_windows_amd64.zip'
    dest: '{{ telegraf_win_install_dir }}'
    creates: '{{ telegraf_win_install_dir }}\telegraf-{{ telegraf_agent_version }}\telegraf.exe'
  register: telegraf_src_new
 
- name: Check if installed
  win_stat: 
    path: '{{ telegraf_win_install_dir }}\telegraf'
  register: telegraf_dir_stat

- name: Install telegraf Agent
  win_copy:
    src: '{{ telegraf_win_install_dir }}\telegraf-{{ telegraf_agent_version }}\'
    dest: '{{ telegraf_win_install_dir }}\telegraf'
    remote_src: yes
  when: telegraf_src_new.changed == True or telegraf_dir_stat.stat.exists == False

- name: Configure telegraf
  win_template:
    src: telegraf.conf.j2
    dest: '{{ telegraf_win_install_dir }}\telegraf\telegraf.conf'
    backup: yes
  notify: "Restart Windows telegraf"

- name: Configure cloudinsights-default.conf
  win_template:
    src: cloudinsights-default.conf.j2
    dest: '{{ telegraf_win_install_dir }}\telegraf.d\cloudinsights-default.conf'
    backup: yes
  become: yes
  notify: Restart telegraf

- name: Copy telegraf extra plugins
  win_template:
    src: 'telegraf-extra-plugin.conf.j2'
    dest: '{{ telegraf_win_include }}\{{ item.key }}.conf'
  with_dict: '{{ telegraf_plugins_extra }}'
  loop_control:
    label: '{{ item.key }}'
  when:
    - telegraf_plugins_extra is defined
    - telegraf_plugins_extra is iterable
    - item.value.state|default('present') != 'absent'
  notify: "Restart Windows telegraf"

- name: Remove telegraf extra plugins
  win_file:
    path: '{{ telegraf_win_include }}\{{ item.key }}.conf'
    state: absent
  with_dict: '{{ telegraf_plugins_extra }}'
  loop_control:
    label: '{{ item.key }}'
  when:
    - telegraf_plugins_extra is defined
    - telegraf_plugins_extra is iterable
    - item.value.state|default('present') == 'absent'
  notify: "Restart Windows telegraf"

- name: Register Service
  win_command: '{{ telegraf_win_install_dir }}\telegraf\telegraf.exe {{ telegraf_win_service_args | join(" ") }}'
  register: telegraf_windows_install
  args:
    creates: '{{ telegraf_win_install_dir }}\.installed'

- name: "Create done file so it won't register itself again"
  win_file:
    path: '{{ telegraf_win_install_dir }}\.installed'
    state: touch
  when: telegraf_windows_install is changed

- name: Set service startup mode to auto and ensure it is started
  win_service:
    name: telegraf
    start_mode: auto
    state: started